* {
	box-sizing : border-box;
}

body {
	display : flex;
	justify-content : center;
	align-items : center;

	background : black;
	color : white;
	
	height : 100vh;
	width : 100%;
	margin: 0;
	padding: 0;
}

.app {
	font-family: sans-serif;
	font-size : 10rem;
}

.help {
	padding: 1rem;
	
	font-family: sans-serif;

	height: 100vh;
	width: 100%;
}

.help h1 {
	font-size : 2rem;
}

.help h2 {
	font-size : 1rem;
	margin-bottom: 1rem;
}

.help p {
	font-size : 1rem;
	margin-bottom: 1rem;
}

.help a {
	color: white;
}

.help pre {
	margin: 0;
	font-size : 1rem;
}

.help .code-sample {
	margin: 1em;
}